.mainContainer {
    background-color: #fff;
    justify-content: space-between;
    width: 100%;
    z-index: 3;
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 10px;
    border-bottom: solid #008acd ;
    display :flex;
    flex-direction: row;
    align-items: center;
}

.title {
    margin: 0rem 1rem 0rem 3rem;
    display: inline;
    color:  #008acd;
    font-size: 2.4rem;
}
.img{
    margin-right: 3rem;
    height: 5rem;
}

