.activate{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.Licenses-list{
    width: 100%;
    border: solid #008acd;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 2%;
    height: 350px;
}
.activate-header{
    color: #008acd;
}


.Activate-btn{
    width: 100%;
    background-color: #008acd !important;
    height: 50px  !important;
}
.licenice-Item {
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #008acd ;
    list-style-type: none;

}

.licenice-Btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    text-align: center;
    padding: 9px;
    padding-left: 1.5rem;

}
.licenice-ItemActive {
    /* background-color: #3e6db5; */
    background-color: #008acd;
    color:  #f7f7f7;
    border-right: 4px solid #008acd;
    /* border-right: 4px solid #659FF9; */

}