.activate {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.Licenses-list {
    width: 100%;
    border: 1px solid #ddd;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 5%;
    height: 380px;
    border-radius: 5px;
}

.activate-header {
    color: #008acd;
    font-size: 1.6rem;
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 700;
}

.licenice-Item {
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #595959 ;
    list-style-type: none;
    border-bottom: 1px solid  #dddd ;
}

.licenice-Btn:hover {
    cursor: pointer;
}

.licenice-Btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    text-align: center;
    padding: 9px;
    padding-left: 1.5rem;
}

.licenice-ItemActive {
    background-color: #fff;
    color: #595959;
    border: 1px solid #828282;
    /* border-right: 4px solid #008acd; */
}

.logout {
    width: 100%;
    color:#008acd;
    border: 1px solid #008acd;
    margin-top: 5px;
}

.bold {
    font-weight: 700;
}

.list {
    list-style-type: none;
    align-self: center;
}