.btn {
    box-shadow: 0 2px #ddd;
    border-radius: 3px !important;
    width: 40%;
}

.primary {
    background-color: #008acd !important;
    color: #fff !important;

}

.secondary {
    background-color: #fff !important;
    color: #008acd !important;
    border: 1px solid #008acd !important;
    /* color: #777 !important;
    height: 100% !important;
    width: 100% !important;
    background-color: transparent !important;
    border: 0 !important;
    outline: none !important;
    text-align: center !important;
    padding: 9px !important;
    padding-left: 1.5rem !important; */
}

.isFullWidth {
    width: 100% !important;
}

.isBold {
    font-weight: 500;
}


.disabled {
    opacity: 0.3 !important;
}
