.sideNav {    
   
    height: 70vh;
    width: 17.5rem;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0 !important;
    background-color: #008acd;

    
}

.sideNavItem {
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #fff;
}

.sideNavBtn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    text-align: left;
    padding: 9px;
    padding-left: 1.5rem;

}



.sideNavItemActive {
    background-color: #f7f7f7;
    color: #008acd;
    border-right: 4px solid #f7f7f7;

}


.sideNavBtn:hover{
    cursor:pointer;

}




