.container{
    display: flex;
    flex-direction: row;
}
.activated{
    width: 75%;
    display: flex;
    flex-direction: column;
}
.screen{
    width: 90%;
    border: solid #008acd;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 2%;
    height: 360px;
}
.header{
    color: #008acd;
    margin-left: 5%;
}
.btns{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-top: 0%;
}
.btn{
    width: 20%;
    background-color: #008acd !important;
    height: 50px  !important;
}
