@import "~antd/dist/antd.css"; 

* {
	
	box-sizing: border-box;
	letter-spacing: 1px;
  }

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f0f2f7;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}
.mr0{
	margin: 0px;
}
.pd0{
	padding: 0px;
}
html {
	font-size: 62.5%;
	font-family: "Segoe UI";
	height: 100%;
  }

  .app {
	height: 100%;
  }
 